
{% extends "base.html" %}


{% block content %}

<div class="input_forms">
	<div class="new_book">
		<h3>Edit Book</h3>
		<form action="/books" method="POST">
			<div>
				<label for="title"">Title</label>
				<input type="text" name="title" id="title">
			</div>
			<div>
				<label for="author"">Author</label>
				<select id="author" name="author_id">
					{% for author in authors %}
					<option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div>
				<label for="genre"">Genre</label>
				<input type="text" name="genre" id="genre">
			</div>
			<div>
				<label for="numpages"">Num&nbsp;of&nbsp;pages</label>
				<input type="number" name="numpages" id="numpages">
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
</div>


{% endblock %}