
{% extends "base.html" %}

{% block content %}
	
	<div class="book-list">
		{% for book in all_books %}
			<div class="book">
				<h4>{{book.title}}</h4>
				<p>by {{book.author.first_name}} {{book.author.last_name}}</p>
				<p>Genres: {{ book.genre }}</p>
				<p>Pages: {{book.numpages}}</p>
			
				<div class="icons">
					<a href="/books/{{book.id}}/delete">
						<i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
					</a>
					<a href="/books/{{book.id}}/edit">
						<i class="fa fa-light fa-pencil fa-2x" aria-hidden="true"></i>
					</a>
				</div>
<!--			<i class="fa-light fa-pencil" aria-hidden="true"></i>-->
			</div>
		{% endfor %}
	</div>

{% endblock %}
